$breakpoints: (
  'xs-phone': 480px,
  'phone': 576px,
  'tablet': 768px,
  'desktop': 992px,
  'widescreen': 1200px,
  'widedesktop': 1280px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import "vendors/bootstrap/functions";
@import "bootstrap-custom";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

// @import "bootstrap";

@import 'base/mixins';
@import 'base/helpers';

@import 'layout/common';
@import 'layout/header';
@import 'layout/footer';

@import 'components/navigation';
@import 'components/post';

#wrapper {
  overflow: hidden;
  display: flex;
  transition: all .4s linear;
  @include media('<tablet') {
    display: none;
  }
}

